// Theme
$color-background: #f5f6fa;
$color-primary: #182C61;
$color-over-primary: #fff;
$color-secondary: #44bd32;
$color-over-secondary: #fff;
$color-accent: #4cd137;

//Spacing
$spacing-small: 8px;
$spacing-medium: 16px;
$spacing-large: 24px;
$spacing-xlarge: 48px;
$spacing-xxlarge: 56px;

// Shapes
$rounded-small: 8px;
$rounded-medium: 16px;

// Breakpoints
$bp-mobile: 767px;
$bp-tablet: 1023px;